/* Autor: Juan Sebastian Vivanco Castro */


h1{
  color: #084F8D;
  border-bottom: solid #a6cae3 1px;
}

.articulo{
  border-bottom: solid gainsboro 1px;
}

.articulo-numero{
  font-family: 'Pt-Serif',serif;
  font-style: italic;
  font-size: 4em;
  color: gainsboro;
  margin: 0.4em;
  
}

.articulo-body{
  width: 80%;
}

.articulo-numero,.articulo-body{
  display: inline-block;
  
}

.container{
  width: 50%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #084F8D;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.selectSeccion{
  position: relative;
  display: flex;
  width: 38%;
  height: 2.5em;
  line-height: 3;
  background: #084F8D;
  overflow: hidden;
  border-radius: .25em;
}